n8n-read-sheets-gdrive/Read_sheets_GDrive__git_.json
{
  "name": "Read sheets GDrive [git]",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -300,
        -100
      ],
      "id": "11146c1f-cda7-4036-afd6-a90eebaebb11",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1Fah9DZveBaaJ_25c63ipA7l1KlO_bTS4bYO4l6OgwtE",
          "mode": "list",
          "cachedResultName": "Tranzactii",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fah9DZveBaaJ_25c63ipA7l1KlO_bTS4bYO4l6OgwtE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fah9DZveBaaJ_25c63ipA7l1KlO_bTS4bYO4l6OgwtE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -80,
        -20
      ],
      "id": "b16a549d-d6c0-4694-879e-e9d59ed016cc",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleApi": {
          "id": "6Ve2jX7JcXlgXzFv",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        140,
        -20
      ],
      "id": "baa817ba-abbc-4eed-ba48-27c9e613cde2",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=My row is  {{ $json.row_number }}\nThe amount was {{ $json.Suma }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        360,
        80
      ],
      "id": "60dc2a6e-609e-4d28-be64-fc90fc043ccd",
      "name": "Discord",
      "webhookId": "87b2e4e4-08e3-47aa-bd1b-9ff6af4386eb",
      "credentials": {
        "discordWebhookApi": {
          "id": "Ylq7Z4WUVE2dCrvF",
          "name": "Discord Webhook account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f1542b61-c2ae-4424-90d0-d445641e4ed0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9004de22833395cf07265d725caaaf2ae22f38996751c41cf8c76736a0137fa6"
  },
  "id": "hEv0xnVR3qteBGRN",
  "tags": []
}