n8n-backup2025/09/zG7Znyq7zU8lnlLP.json
{
  "active": false,
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Gmail2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-14T15:10:05.357Z",
  "id": "zG7Znyq7zU8lnlLP",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "NO-AI-Leads-Classification [imported]",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Test Form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "First Name"
            },
            {
              "fieldLabel": "Last Name"
            },
            {
              "fieldLabel": "Email"
            },
            {
              "fieldLabel": "Budget",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "100-1,000"
                  },
                  {
                    "option": "1,000+"
                  },
                  {
                    "option": "0-100"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -880,
        96
      ],
      "id": "4836ae39-44d9-4cea-9adf-152f1566c650",
      "name": "On form submission",
      "webhookId": "57e54979-0e63-4aac-b802-9d7c8c3f935e"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ZAG_cU2hgIn_IrlEzxIJGuRSdotN0FMOswyVdEgAXtI",
          "mode": "list",
          "cachedResultName": "Imported-Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZAG_cU2hgIn_IrlEzxIJGuRSdotN0FMOswyVdEgAXtI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12zqeAczdRpKQQ9g03zfy55gCrtWMlqdjSOALeMhMKnA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First Name": "={{ $json['First Name'] }}",
            "Last Name": "={{ $json['Last Name'] }}",
            "Message": "={{ $json.Message }}",
            "Email": "={{ $json.Email }}",
            "Date": "={{ $today }}",
            "Rejected": "={{ $if($json.Budget === \"1,000+\", \"FALSE\", \"TRUE\") }}",
            "Budget": "={{ $json.Budget }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rejected",
              "displayName": "Rejected",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -656,
        96
      ],
      "id": "75e3b50b-8f13-49d0-8f94-0551f735b6e7",
      "name": "Google Sheets",
      "credentials": {
        "googleApi": {
          "id": "6Ve2jX7JcXlgXzFv",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c17c0a45-9414-4318-8d78-fc61a43269c2",
              "leftValue": "={{ $json['Budget '] }}",
              "rightValue": "0-100",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -432,
        96
      ],
      "id": "208e7f47-0163-4538-82f3-e23264e5ccab",
      "name": "Filter"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('On form submission').item.json.Budget }}",
                    "rightValue": "100-1,000",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f6beee09-9fd5-475d-9e0d-9c04608ce14f",
                    "leftValue": "={{ $('On form submission').item.json.Budget }}",
                    "rightValue": "1,000+",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -208,
        96
      ],
      "id": "63499174-d5b8-4dc2-8bfd-6384856f1cbf",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Hey, thanks for inquiring with ABC company",
        "emailType": "text",
        "message": "=Hey  {{ $('On form submission').item.json['First Name'] }},\n\nThanks for inquiring with our services, I'll give you a call back later this week.\n\nBest,\nJono",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        16,
        0
      ],
      "id": "216cfb43-76db-4e51-8f0b-0c4575049f4c",
      "name": "Gmail",
      "webhookId": "ded0140e-9946-49ee-b92f-4e473474eb5c",
      "credentials": {
        "gmailOAuth2": {
          "id": "3oW8vClE5N8kcXX5",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Hey, thanks for inquiring with ABC company",
        "emailType": "text",
        "message": "=Hey  {{ $('On form submission').item.json['First Name'] }},\n\nThanks for inquiring with our services, Can you book a call on my calendar link here:\nhttps://abc.com/booking\n\nBest,\nJono",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        16,
        192
      ],
      "id": "bc9f283d-0e10-45fb-9b37-88753f30e6f6",
      "name": "Gmail1",
      "webhookId": "ded0140e-9946-49ee-b92f-4e473474eb5c",
      "credentials": {
        "gmailOAuth2": {
          "id": "3oW8vClE5N8kcXX5",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        240,
        96
      ],
      "id": "35133fb7-81ce-4fbc-a57e-82bc2446ee8f",
      "name": "Merge"
    },
    {
      "parameters": {
        "sendTo": "=jccatliff@gmail.com",
        "subject": "New Lead",
        "emailType": "text",
        "message": "=New Lead\nName: {{ $('On form submission').item.json['First Name'] }} {{ $('On form submission').item.json['Last Name'] }}\nEmail: {{ $('On form submission').item.json.Email }}\nBudget: {{ $('On form submission').item.json.Budget }}\nMessage: {{ $('On form submission').item.json.Message }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        464,
        96
      ],
      "id": "656ececf-b000-4089-8fef-4f669d830b06",
      "name": "Gmail2",
      "webhookId": "ded0140e-9946-49ee-b92f-4e473474eb5c",
      "credentials": {
        "gmailOAuth2": {
          "id": "3oW8vClE5N8kcXX5",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "Google Sheets": [
      {
        "json": {
          "First Name": "Cosmin",
          "Last Name": "C",
          "Message": "Hello!",
          "Email": "concosminx@gmail.com",
          "Date": "2025-09-14T00:00:00.000-04:00",
          "Rejected": "FALSE",
          "Budget": "1,000+"
        }
      }
    ]
  },
  "repo_name": "ai-agents",
  "repo_owner": "concosminx",
  "repo_path": "n8n-backup",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-14T15:10:05.357Z",
      "updatedAt": "2025-09-14T15:10:05.357Z",
      "role": "workflow:owner",
      "workflowId": "zG7Znyq7zU8lnlLP",
      "projectId": "xcywV0hidlkrSz4y"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-16T08:46:48.919Z",
  "versionId": "2658625a-362e-4074-a9b3-0bd42b012ff2"
}