n8n-backup/2025/09/Jv1g0eLLgcCbg5Ec.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Supabase Vector Store2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Generate hash": {
      "main": [
        [
          {
            "node": "Search record manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert in record manager": {
      "main": [
        [
          {
            "node": "LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Loop over files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search record manager": {
      "main": [
        [
          {
            "node": "Switch record manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Previous Vectors": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update the record manager": {
      "main": [
        [
          {
            "node": "LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Update the record manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "LLM",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "LLM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LLM": {
      "main": [
        [
          {
            "node": "Set text for embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Set text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set text": {
      "main": [
        [
          {
            "node": "Generate hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set text for embedding": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from normal PDF": {
      "main": [
        [
          {
            "node": "Set text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Text": {
      "main": [
        [
          {
            "node": "HTML-> Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML-> Markdown": {
      "main": [
        [
          {
            "node": "Set text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Updated files": {
      "main": [
        [
          {
            "node": "Loop over files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete files": {
      "main": [
        [
          {
            "node": "Delete files from bin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Previous Vectors1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Delete the record manager record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete files from bin": {
      "main": [
        [],
        [
          {
            "node": "Search to delete file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search to delete file": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Delete Previous Vectors1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete the record manager record": {
      "main": [
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a file": {
      "main": [
        [
          {
            "node": "Delete files from bin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New files": {
      "main": [
        [
          {
            "node": "Loop over files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop over files": {
      "main": [
        [],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Switch document type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch document type": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from normal PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch record manager": {
      "main": [
        [
          {
            "node": "Insert in record manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop over files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Previous Vectors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-10T10:59:18.393Z",
  "id": "Jv1g0eLLgcCbg5Ec",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "RAG-Supabase-Ingestion-and-Agent [masterclass]",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -896,
        496
      ],
      "id": "f677ff7e-9017-4211-bb9a-ddf3846f5ae4",
      "name": "When chat message received",
      "webhookId": "b655c2f6-d42f-48a5-828a-5ec023d5ea59"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are an F1 expert.\n \nYou are tasked with answering a question using the information retrieved from the attached vector store. \n\nYou goal is to provide an accurate answer based on this information ONLY.\n\nIf you cannot answer the question using the provided information, or if no information is returned from the vector store say \"Sorry I dont't know!\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -624,
        496
      ],
      "id": "2ecdac1e-3f39-418f-bb69-4c255d6cf06c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -672,
        720
      ],
      "id": "229c557c-84c7-4526-9029-67cf5ccfd0ba",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5yyTWzOpDb6uiysy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -544,
        720
      ],
      "id": "be147a37-3ccf-47cb-bb63-9f12271b84a8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        2624,
        -528
      ],
      "id": "bb7854eb-781e-4e28-832e-7576840f6a7c",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "SiRB2cBMmiwQ6gvH",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2592,
        -304
      ],
      "id": "b0345da2-d3d2-488a-a0ae-ee46d2d28f25",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "5yyTWzOpDb6uiysy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Loop over files').item.json.id }}"
              },
              {
                "name": "motorsport_category",
                "value": "={{ $('LLM').item.json.output.motorsport_category }}"
              },
              {
                "name": "=file_name",
                "value": "={{ $('Loop over files').item.json.name }}"
              },
              {
                "name": "file_summary",
                "value": "={{ $('LLM').item.json.output.document_summary }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2720,
        -304
      ],
      "id": "7dce67ff-79ff-4701-9079-20fb16b7caa6",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2800,
        -96
      ],
      "id": "2cce9e97-0df2-4fb6-9f41-11295b5c2460",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with your data for motorsports in subabase store",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -416,
        720
      ],
      "id": "ea607545-4457-42da-aa00-aaea86965e33",
      "name": "Supabase Vector Store2",
      "credentials": {
        "supabaseApi": {
          "id": "SiRB2cBMmiwQ6gvH",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -336,
        928
      ],
      "id": "a39b3b5a-13a5-4da5-a01f-60c03f9aa18c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "5yyTWzOpDb6uiysy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## RAG Ingestion Pipeline\n\nUses a PDF document and Supabase Vector Storage ",
        "height": 1216,
        "width": 4176,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1216,
        -928
      ],
      "typeVersion": 1,
      "id": "817a94c0-12f0-45c7-80f4-56ff460dda2c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Agent Example\n\nUsese OpenAI agent to ask some F1 questions",
        "height": 656,
        "width": 1504
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1200,
        400
      ],
      "typeVersion": 1,
      "id": "d3a055d9-48c7-45ac-beb7-7c52f08fc8b7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "type": "SHA3-256",
        "value": "={{ $json.text }}",
        "dataPropertyName": "hash"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        672,
        -704
      ],
      "id": "f0f8a284-7e5d-465a-a6a6-d65b0278beea",
      "name": "Generate hash"
    },
    {
      "parameters": {
        "tableId": "record_manager",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "google_drive_file_id",
              "fieldValue": "={{ $('Loop over files').item.json.id }}"
            },
            {
              "fieldId": "hash",
              "fieldValue": "={{ $('Generate hash').item.json.hash }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1792,
        -560
      ],
      "id": "ab429293-2063-47ef-a983-8f9ec4d45a22",
      "name": "Insert in record manager",
      "credentials": {
        "supabaseApi": {
          "id": "SiRB2cBMmiwQ6gvH",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "record_manager",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "google_drive_file_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        896,
        -704
      ],
      "id": "0da625cc-dc54-45fb-a5a7-ad792d5dc579",
      "name": "Search record manager",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "SiRB2cBMmiwQ6gvH",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $('Loop over files').item.json.id }}*"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1344,
        -848
      ],
      "id": "9cc32aed-907b-464d-938d-5884a90283a5",
      "name": "Delete Previous Vectors",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "SiRB2cBMmiwQ6gvH",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "record_manager",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Search record manager').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "hash",
              "fieldValue": "={{ $('Generate hash').item.json.hash }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1792,
        -848
      ],
      "id": "8360e3d9-d0ae-4f78-accf-98b0302fe4e3",
      "name": "Update the record manager",
      "credentials": {
        "supabaseApi": {
          "id": "SiRB2cBMmiwQ6gvH",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1568,
        -848
      ],
      "id": "ccbcccd8-cb34-40c4-adf9-8997cd6c7e51",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"motorsport_category\":\"<ADD>\",\n\"document_summary\":\"<ADD>\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2176,
        -528
      ],
      "id": "6aa1f1be-7ca7-4fb1-8b51-6eb8eef43c91",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2016,
        -528
      ],
      "id": "77fc450b-389e-4fe7-bc9d-6158e5c872b2",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "5yyTWzOpDb6uiysy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# File name \n\n{{ $('Loop over files').item.json.name }}\n\n# File contents\n\n{{ ($('Set text').item.json.text || \"\").split(/\\s+/).slice(0, 500).join(\" \") }}\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Based on the provided file name and file content, extract out an one sentence description of what the document is about and classify the document based on motorsport category.\nOnly output JSON in the following format: \n\n{\n\"motorsport_category\":\"<ADD>\",\n\"document_summary\":\"<ADD>\"\n}\n\nIf you are unsure of either of these, just output N/A in the field.\n\nAllowable values for motorsport_cagegory include \n\nF1\nRally\nWorld Endurance\nFormula E"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2016,
        -704
      ],
      "id": "a4e455dd-9b31-4aa6-a841-46849952b823",
      "name": "LLM"
    },
    {
      "parameters": {
        "content": "## Use metadata filter\n\nUse a basic llm to obtain data for the question\n\nhttps://docs.n8n.io/advanced-ai/examples/using-the-fromai-function/#templates\n",
        "height": 288,
        "width": 304,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        448
      ],
      "typeVersion": 1,
      "id": "3051b4db-43a7-43ec-8f8f-9a33c497b7a8",
      "name": "Use metadata filter here"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        224,
        -896
      ],
      "id": "c45f3ee3-d1f4-4984-acbd-daa9ff1fd4aa",
      "name": "Get a document",
      "credentials": {
        "googleApi": {
          "id": "6Ve2jX7JcXlgXzFv",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3e05bf76-3877-447f-bc67-613e1b47a67a",
              "name": "text",
              "value": "={{ $json.content || json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -704
      ],
      "id": "8b1a7b09-4c13-447d-8e2c-fbd8d9b18513",
      "name": "Set text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c0429c38-e67c-41a1-a253-4889d4b1d6f0",
              "name": "content",
              "value": "={{ $('Set text').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2368,
        -704
      ],
      "id": "ae0ae322-df32-496f-a37e-00ce83c987de",
      "name": "Set text for embedding"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        224,
        -704
      ],
      "id": "b02ab879-68f5-4cf0-bc21-da02cc6bf45b",
      "name": "Extract from normal PDF"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        0,
        -512
      ],
      "id": "9bf9f4cf-11cb-4e6f-82c9-1d9a7e82e419",
      "name": "Extract from Text"
    },
    {
      "parameters": {
        "html": "={{ json.data}}",
        "destinationKey": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        224,
        -512
      ],
      "id": "6ca799d3-2505-4ecd-942d-b576be2463cc",
      "name": "HTML-> Markdown"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "148T7a4sK51DjswKhCUkZHX3fGj07sBEC",
          "mode": "list",
          "cachedResultName": "Rag-Masterclass",
          "cachedResultUrl": "https://drive.google.com/drive/folders/148T7a4sK51DjswKhCUkZHX3fGj07sBEC"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1088,
        -576
      ],
      "id": "5014b8ec-d256-4302-b77a-a63e85cec84b",
      "name": "Updated files",
      "credentials": {
        "googleApi": {
          "id": "6Ve2jX7JcXlgXzFv",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "19qoaMsTAJfdqhp1vH-94UTUeVQvyAwUR",
          "mode": "list",
          "cachedResultName": "Recycling Bin",
          "cachedResultUrl": "https://drive.google.com/drive/folders/19qoaMsTAJfdqhp1vH-94UTUeVQvyAwUR"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -896,
        64
      ],
      "id": "05fd959f-0a71-4f10-83e5-ceefff7f566d",
      "name": "Delete files",
      "credentials": {
        "googleApi": {
          "id": "6Ve2jX7JcXlgXzFv",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $('Delete files from bin').item.json.id }}*"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        -96
      ],
      "id": "4e05f62e-92ae-44a1-8cf6-3841cea6efce",
      "name": "Delete Previous Vectors1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "SiRB2cBMmiwQ6gvH",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        224,
        -96
      ],
      "id": "e222a17a-1da7-470d-a087-4e1d3c37f10e",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -672,
        64
      ],
      "id": "80c06248-9695-4c59-8e35-a2b6cafbddee",
      "name": "Delete files from bin"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "record_manager",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Search to delete file').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        448,
        -96
      ],
      "id": "c76de7cd-43ae-4362-baa1-eb462e59b935",
      "name": "Delete the record manager record",
      "credentials": {
        "supabaseApi": {
          "id": "SiRB2cBMmiwQ6gvH",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "record_manager",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "google_drive_file_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -448,
        -16
      ],
      "id": "a73cda21-c19d-4e31-ae09-f1c1459f515f",
      "name": "Search to delete file",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "SiRB2cBMmiwQ6gvH",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cc0f58a1-5bc9-41f6-89e0-4720fa488563",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        -16
      ],
      "id": "fc5f3dd5-a829-47e3-a93a-fecd63374c40",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Delete files from bin').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        672,
        64
      ],
      "id": "dc3c8bd6-c7c9-492f-b026-b441f0635f12",
      "name": "Delete a file",
      "credentials": {
        "googleApi": {
          "id": "6Ve2jX7JcXlgXzFv",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "148T7a4sK51DjswKhCUkZHX3fGj07sBEC",
          "mode": "list",
          "cachedResultName": "Rag-Masterclass",
          "cachedResultUrl": "https://drive.google.com/drive/folders/148T7a4sK51DjswKhCUkZHX3fGj07sBEC"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1088,
        -768
      ],
      "id": "f24ea5b2-2a52-41f8-aacc-fd6853522adf",
      "name": "New files",
      "credentials": {
        "googleApi": {
          "id": "6Ve2jX7JcXlgXzFv",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -800,
        -688
      ],
      "id": "87d96b4d-54d9-45fa-bcc3-398fb0f526d0",
      "name": "Loop over files"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -512,
        -672
      ],
      "id": "7ea41b73-9ab3-4cc1-815f-054fcd6ce426",
      "name": "Download file",
      "credentials": {
        "googleApi": {
          "id": "6Ve2jX7JcXlgXzFv",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "439fb8e8-a891-4379-a6fc-97cfc390f0ab"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "394d4abe-396c-4e17-a843-9d00907b732a",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f97777f5-3e46-455a-828e-d7b5efa7c8e0",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "text/html",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -272,
        -688
      ],
      "id": "0aeaa6aa-35d7-4915-b41e-be403180f3e6",
      "name": "Switch document type"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "df2b8692-602a-477a-9df4-8a44906e37fd"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "33c55f65-85f2-4270-b74b-98baf0317bee",
                    "leftValue": "={{ $json.hash }}",
                    "rightValue": "={{ $('Generate hash').item.json.hash }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3a02657a-0f56-4ec2-b319-38d7d65cdbbc",
                    "leftValue": "={{ $json.hash }}",
                    "rightValue": "={{ $('Generate hash').item.json.hash }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1120,
        -720
      ],
      "id": "6064f2f7-cbcb-493d-8dfb-f6f78598d18d",
      "name": "Switch record manager"
    }
  ],
  "pinData": {
    "LLM": [
      {
        "json": {
          "output": {
            "motorsport_category": "Rally",
            "document_summary": "The document contains the 2025 FIA World Rally Championship Sporting Regulations, including updates, event calendar, and detailed rules for teams, drivers, and events."
          }
        }
      }
    ]
  },
  "repo_name": "ai-agents",
  "repo_owner": "concosminx",
  "repo_path": "n8n-backup",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-10T10:59:18.393Z",
      "updatedAt": "2025-09-10T10:59:18.393Z",
      "role": "workflow:owner",
      "workflowId": "Jv1g0eLLgcCbg5Ec",
      "projectId": "xcywV0hidlkrSz4y"
    }
  ],
  "staticData": {
    "node:Read files from folder": {
      "lastTimeChecked": "2025-09-13T08:46:19Z"
    }
  },
  "tags": [
    {
      "createdAt": "2025-09-14T15:47:36.868Z",
      "updatedAt": "2025-09-14T15:47:36.868Z",
      "id": "TCq8D3BlwLrgL6HJ",
      "name": "drive"
    },
    {
      "createdAt": "2025-09-14T15:47:33.554Z",
      "updatedAt": "2025-09-14T15:47:33.554Z",
      "id": "6kdRufaoSXidNKc6",
      "name": "rag"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-09-16T08:47:43.557Z",
  "versionId": "30d37cdf-dd91-4829-a11e-aafb42664d9a"
}