n8n-backup/2025/09/nfbq7Oc8vXZ3qqcE.json
{
  "active": true,
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        []
      ]
    },
    "Get folders": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Get folders",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "create new folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create new folder": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "create new folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-15T20:12:32.152Z",
  "id": "nfbq7Oc8vXZ3qqcE",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Backup-flows-GDrive [imported]",
  "nodes": [
    {
      "parameters": {},
      "id": "5fabe098-2453-4894-9142-4396596b0eb4",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "e123c1fd-9663-4af9-b6e8-6c19224d2424",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        368,
        128
      ],
      "retryOnFail": true,
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "n8nApi": {
          "id": "LaoKLlvuhFRTXdb9",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "685d8971-dedf-4a09-b475-6651fb9a94c6",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        560,
        128
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "folder",
        "name": "=Workflow Backups {{ $now.format('cccc t dd-MM-yyyy') }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1brwPExJ-uyTTv3mZtGO6rNLkYL_GjTig",
          "mode": "list",
          "cachedResultName": "n8n-backup",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1brwPExJ-uyTTv3mZtGO6rNLkYL_GjTig"
        },
        "options": {}
      },
      "id": "1eea26a8-ee0c-489b-8836-fbdb36d3e6ae",
      "name": "create new folder",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        192,
        128
      ],
      "typeVersion": 3,
      "credentials": {
        "googleApi": {
          "id": "6Ve2jX7JcXlgXzFv",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "format": true,
          "fileName": "={{ $json.name + \".json\" }} "
        }
      },
      "id": "034dcd1d-cf1d-42fd-a896-1014e0cd4143",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        784,
        224
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "name": "={{ $('Loop Over Items').item.json.name + \".json\" }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('create new folder').item.json.id }}"
        },
        "options": {}
      },
      "id": "ec9bb7e5-d759-4494-a6d7-640499e8bcbc",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        960,
        224
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HPS9MkhNaaDEi6ei",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 7,
              "triggerAtHour": 4
            }
          ]
        }
      },
      "id": "f8757c67-cc6b-4d20-92d2-9247fbc25dea",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        0,
        272
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "538fc29d-2693-4c62-9848-bdcaf8566909",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.id }}",
              "rightValue": "={{ $('create new folder').item.json.id }}"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "id": "7c8190b7-5193-44f1-9ec9-1b28fcbae62a",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "position": [
        960,
        32
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "deleteFolder",
        "folderNoRootId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "deletePermanently": true
        }
      },
      "id": "b553a807-73f2-4fc4-9c5a-85a4b3e72196",
      "name": "delete folder",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1248,
        32
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HPS9MkhNaaDEi6ei",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1brwPExJ-uyTTv3mZtGO6rNLkYL_GjTig",
            "mode": "list",
            "cachedResultName": "n8n-backup",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1brwPExJ-uyTTv3mZtGO6rNLkYL_GjTig"
          }
        },
        "options": {}
      },
      "id": "04b15814-83b5-4ab3-9f3a-275efbc78d2f",
      "name": "Get folders",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        784,
        32
      ],
      "typeVersion": 3,
      "credentials": {
        "googleApi": {
          "id": "6Ve2jX7JcXlgXzFv",
          "name": "Google Service Account account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "ai-agents",
  "repo_owner": "concosminx",
  "repo_path": "n8n-backup",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-15T20:12:32.152Z",
      "updatedAt": "2025-09-15T20:12:32.152Z",
      "role": "workflow:owner",
      "workflowId": "nfbq7Oc8vXZ3qqcE",
      "projectId": "xcywV0hidlkrSz4y"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-09-16T08:59:34.705Z",
      "updatedAt": "2025-09-16T08:59:34.705Z",
      "id": "UhqZWfySUjceaNLG",
      "name": "n8n"
    },
    {
      "createdAt": "2025-09-14T15:47:36.868Z",
      "updatedAt": "2025-09-14T15:47:36.868Z",
      "id": "TCq8D3BlwLrgL6HJ",
      "name": "drive"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-09-16T11:44:09.683Z",
  "versionId": "aa3d6482-eac1-47e5-91bf-058351ac04ac"
}