n8n-backup2025/07/4x7uwi3dCmMtVARD.json
{
  "active": false,
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Send message to user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message to user": {
      "main": [
        [
          {
            "node": "Send message to admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-24T18:19:38.328Z",
  "id": "4x7uwi3dCmMtVARD",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Simple-Leads-from-Form [git]",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Quote",
        "formFields": {
          "values": [
            {
              "fieldLabel": "First Name"
            },
            {
              "fieldLabel": "Last Name"
            },
            {
              "fieldLabel": "Email"
            },
            {
              "fieldLabel": "Budget"
            },
            {
              "fieldLabel": "How likely are you to hire",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Not likely"
                  },
                  {
                    "option": "Very likely"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        368,
        -304
      ],
      "id": "a193da57-e3d2-4dc4-ae29-059f659346fe",
      "name": "On form submission",
      "webhookId": "d413ea18-5e35-4916-901f-906bcc9914be"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You're an intelligent bot capable of scoring new leads. Please assign points on a 1-5 rating based on these categories:\n1. If the budget is over 1000, please award 3 points\n2. If the email of the client is a business email, please award 1 point. Do not award points if its a gmail or yahoo email\n3. How likely they are to hire - award 1 point if they're very likely to hire\n\nPlease only generate as an output 1 key for \"score\"",
              "role": "system"
            },
            {
              "content": "=Email: {{ $json.Email }}\nBudget: {{ $json.Budget }}\nHow likely client is to hire: {{ $json['How likely to hire'] }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        800,
        -304
      ],
      "id": "12aeae5e-0409-4b28-b1ed-08b474a77112",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "5yyTWzOpDb6uiysy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b66c0f54-fa0f-4342-9afa-375879d57634",
              "leftValue": "={{ $json.message.content.score }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1184,
        -304
      ],
      "id": "97c032c7-db7c-4d28-88e0-a20a514ff65c",
      "name": "Filter"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1wco6--br3UgSc1jRNmy76_gpQM3dJ9PcurmazraQH0Y",
          "mode": "list",
          "cachedResultName": "AI Leads Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wco6--br3UgSc1jRNmy76_gpQM3dJ9PcurmazraQH0Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wco6--br3UgSc1jRNmy76_gpQM3dJ9PcurmazraQH0Y/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "First Name": "={{ $json['First Name'] }}",
            "Last Name": "={{ $json['Last Name'] }}",
            "Budget": "={{ $json.Budget }}",
            "How likely to hire": "={{ $json['How likely are you to hire'] }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "How likely to hire",
              "displayName": "How likely to hire",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        592,
        -304
      ],
      "id": "d9fe7e30-4985-4b79-9a78-a9802fb818af",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleApi": {
          "id": "6Ve2jX7JcXlgXzFv",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Append or update row in sheet').item.json.Email }}",
        "subject": "Thanks for inquiring with ABC company!",
        "emailType": "text",
        "message": "=Hey {{ $('Append or update row in sheet').item.json[\"First Name\"] }},\n\nThanks for inquiring with abc company....\n\nHere's a link to book on my calendar.\n\nBest,\nCosmin",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1408,
        -304
      ],
      "id": "f3344777-9c4b-4b37-be3a-bee9db4a88f5",
      "name": "Send message to user",
      "webhookId": "7a6511c7-d32f-4e20-824b-455efdd2ad52",
      "credentials": {
        "gmailOAuth2": {
          "id": "3oW8vClE5N8kcXX5",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=concosminx@gmail.com",
        "subject": "New Lead",
        "emailType": "text",
        "message": "=New Lead\nName: {{ $('On form submission').item.json['First Name'] }} {{ $('On form submission').item.json['Last Name'] }}\nEmail: {{ $('On form submission').item.json.Email }}\nBudget: {{ $('On form submission').item.json.Budget }}\nLikely to hire: {{ $('On form submission').item.json['How likely are you to hire'] }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1616,
        -304
      ],
      "id": "9ffc8ff4-648d-48d1-9e3b-b8f1ff334dba",
      "name": "Send message to admin",
      "webhookId": "7a6511c7-d32f-4e20-824b-455efdd2ad52",
      "credentials": {
        "gmailOAuth2": {
          "id": "3oW8vClE5N8kcXX5",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "First Name": "Cosmin",
          "Last Name": "C-tin",
          "Email": "concosminx@gmail.com",
          "Budget": "1300",
          "How likely are you to hire": "Very likely",
          "submittedAt": "2025-07-24T14:20:31.151-04:00",
          "formMode": "test"
        }
      }
    ]
  },
  "repo_name": "ai-agents",
  "repo_owner": "concosminx",
  "repo_path": "n8n-backup",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-24T18:19:38.328Z",
      "updatedAt": "2025-07-24T18:19:38.328Z",
      "role": "workflow:owner",
      "workflowId": "4x7uwi3dCmMtVARD",
      "projectId": "xcywV0hidlkrSz4y"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-15T12:37:31.579Z",
      "updatedAt": "2025-09-15T12:37:31.579Z",
      "id": "61FLAvTKHhCWyLHa",
      "name": "git"
    },
    {
      "createdAt": "2025-09-14T15:47:36.868Z",
      "updatedAt": "2025-09-14T15:47:36.868Z",
      "id": "TCq8D3BlwLrgL6HJ",
      "name": "drive"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-09-16T08:49:00.572Z",
  "versionId": "3c383ce0-37e1-4522-adec-b5029ddfb73e"
}