n8n-backup2025/07/hEv0xnVR3qteBGRN.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-20T06:10:19.960Z",
  "id": "hEv0xnVR3qteBGRN",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "NO-AI-Iterate-over-Google Sheets [git]",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        -96
      ],
      "id": "11146c1f-cda7-4036-afd6-a90eebaebb11",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1Fah9DZveBaaJ_25c63ipA7l1KlO_bTS4bYO4l6OgwtE",
          "mode": "list",
          "cachedResultName": "Tranzactii",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fah9DZveBaaJ_25c63ipA7l1KlO_bTS4bYO4l6OgwtE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fah9DZveBaaJ_25c63ipA7l1KlO_bTS4bYO4l6OgwtE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -80,
        -96
      ],
      "id": "b16a549d-d6c0-4694-879e-e9d59ed016cc",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleApi": {
          "id": "6Ve2jX7JcXlgXzFv",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        144,
        -96
      ],
      "id": "baa817ba-abbc-4eed-ba48-27c9e613cde2",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=My row is  {{ $json.row_number }}\nThe amount was {{ $json.Suma }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        368,
        -96
      ],
      "id": "60dc2a6e-609e-4d28-be64-fc90fc043ccd",
      "name": "Discord",
      "webhookId": "87b2e4e4-08e3-47aa-bd1b-9ff6af4386eb",
      "credentials": {
        "discordWebhookApi": {
          "id": "Ylq7Z4WUVE2dCrvF",
          "name": "Discord Webhook account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "ai-agents",
  "repo_owner": "concosminx",
  "repo_path": "n8n-backup",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-20T06:10:19.960Z",
      "updatedAt": "2025-07-20T06:10:19.960Z",
      "role": "workflow:owner",
      "workflowId": "hEv0xnVR3qteBGRN",
      "projectId": "xcywV0hidlkrSz4y"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-16T08:44:26.916Z",
  "versionId": "fa58c3d4-095a-4357-bf70-c29b2114ae6f"
}