n8n-sentiment-classification/Survey_sentiments__git_.json
{
  "name": "Survey sentiments [git]",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -380,
        -120
      ],
      "id": "95968ef7-a848-4b99-9fae-ff5cb3f733ec",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "19H5fEzQI13ZF1uumsuL_WmV5Id1830eI0f1I26UElHw",
          "mode": "list",
          "cachedResultName": "Survey (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19H5fEzQI13ZF1uumsuL_WmV5Id1830eI0f1I26UElHw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 550948745,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19H5fEzQI13ZF1uumsuL_WmV5Id1830eI0f1I26UElHw/edit#gid=550948745"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -160,
        -120
      ],
      "id": "59dfc7ed-4ca9-46f5-9067-7522d72714c3",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleApi": {
          "id": "6Ve2jX7JcXlgXzFv",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        60,
        -120
      ],
      "id": "924be744-f572-4643-9281-5262c64523ba",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "All done",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        280,
        -320
      ],
      "id": "1c65151f-9a64-4c24-8a5d-072b8344f55f",
      "name": "Discord",
      "webhookId": "ef6a6e53-c09d-436b-aae4-8fc140b5605c",
      "executeOnce": true,
      "credentials": {
        "discordWebhookApi": {
          "id": "Ylq7Z4WUVE2dCrvF",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({\n  json: {\n    prompt: item.json.response,\n    originalText: item.json.response,\n    row_number: item.json.row_number\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        -120
      ],
      "id": "81219378-4ba6-4af7-8028-f497166040b4",
      "name": "Code"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please identify the sentiment for the input  {{ $json.originalText }} with one value from: Positive, Negative, Neutral.\n\nReturn the format as json with the attributesentiment and the value identified.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        500,
        -245
      ],
      "id": "ba69e690-50f3-4194-913a-abc56c45a930",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        528,
        -25
      ],
      "id": "5309b864-3c19-4df5-94d1-cbf79895417c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5yyTWzOpDb6uiysy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        876,
        -120
      ],
      "id": "69854136-0d83-40d3-832f-e8dfd751a496",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"sentiment\": \"Neutral\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        640,
        -400
      ],
      "id": "27021b06-5439-43de-b7ab-b8e4e1043d49",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "19H5fEzQI13ZF1uumsuL_WmV5Id1830eI0f1I26UElHw",
          "mode": "list",
          "cachedResultName": "Survey (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19H5fEzQI13ZF1uumsuL_WmV5Id1830eI0f1I26UElHw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 550948745,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19H5fEzQI13ZF1uumsuL_WmV5Id1830eI0f1I26UElHw/edit#gid=550948745"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "response": "={{ $json.originalText }}",
            "Sentiment": "={{ $json.output.sentiment }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "response",
              "displayName": "response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1096,
        -45
      ],
      "id": "227e7204-dec5-48b8-b6dc-b2e23b9442dd",
      "name": "Update row in sheet",
      "credentials": {
        "googleApi": {
          "id": "6Ve2jX7JcXlgXzFv",
          "name": "Google Service Account account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fa8e4924-cbd1-4f17-be52-1c63c27eecff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9004de22833395cf07265d725caaaf2ae22f38996751c41cf8c76736a0137fa6"
  },
  "id": "C6HvkzzUGDuV8tSg",
  "tags": []
}